{% extends 'base.html' %}
{% block content %}

<h1>Trackers</h1>
<div id="trackers">
{% for tracker in trackers %}
  <div class="card">
    <a href="{% url 'detail' tracker.id %}">
    <div class="card-content">
      <span class="card-title">{{ tracker.tracker_name }}</span>
      <div class="card-action">
        <a href="{% url 'trackers_update' tracker.id %}">Edit</a>
        <a href="{% url 'trackers_delete' tracker.id %}">Delete</a>
      </div>
    </div>
    </a>
  </div>
{% endfor %}
</div>
{% endblock %}